{% extends 'productos/base.html' %}

{% block title %}Añadir al Carrito{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 rounded shadow-lg" style="background-color: #1a1a1a;">
        <h1 class="text-white text-center mb-5" style="font-size: 3.5rem; font-weight: bold;">Añadir {{ producto.nombre }} al Carrito</h1>
        <p class="text-white text-center mb-5" style="font-size: 1.8rem;">Precio: <strong>${{ producto.precio|clp }}</strong></p>
        
        <form method="post" class="text-center">
            {% csrf_token %}
            <div class="form-group mb-5">
                <label for="cantidad" class="form-label text-white" style="font-size: 1.5rem; font-weight: bold;">Cantidad:</label>
                <input 
                    type="number" 
                    id="cantidad" 
                    name="cantidad" 
                    min="1" 
                    value="1" 
                    class="form-control w-25 mx-auto"
                    style="background-color: #333; color: white; border: 1px solid #555; border-radius: 10px; font-size: 1.5rem; text-align: center;"
                    required
                >
            </div>
            <button 
                type="submit" 
                class="btn btn-primary"
                style="background-color: #ee5ee7; border: none; font-size: 1.5rem; font-weight: bold; padding: 15px 30px; transition: transform 0.2s ease;"
                onmouseover="this.style.transform='scale(1.1)';"
                onmouseout="this.style.transform='scale(1)';"
            >
                Añadir al Carrito
            </button>
        </form>
        
        <a href="{% url 'lista_productos' %}" 
           class="btn btn-secondary mt-4"
           style="font-size: 1.5rem; background-color: #555; border: none; color: white; padding: 15px 30px; text-decoration: none; display: block; width: fit-content; margin: 30px auto; border-radius: 10px;"
        >
            Volver a la Lista de Productos
        </a>
    </div>
</div>
{% endblock %}
